<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shipping Table</title>

  <link rel="stylesheet" src="css/style-table.css">
  <script defer src="/js/site.js"></script>
</head>

<body>

<div class="heading">
  <h1>Shipping Table</h1>
</div>

<div class="heading">
  <h1>Shipping Table</h1>
  <button onclick="createShipment()">Create Shipment</button>
</div>

<div class="outer-wrapper">
  <div class="table-wrapper">
    <table id="emp-table">
      <thead>
      <tr>
        <th data-index="1" onclick="sortTable(0)">Order ID</th>
        <th data-index="2" onclick="sortTable(1)">Reciever</th>
        <th data-index="3">Delivery Status
          <label>
            <select class="table-filter" onchange="filterRows(2)">
              <option value="all">All</option>
              <option value="Delivered">Delivered</option>
              <option value="Not Delivered">Not Delivered</option>
            </select>
          </label>
        </th>
        <th data-index="4">Receiver City
        <th data-index="5">Delivery
        <th data-index="6">Receiver's Address
        <th data-index="7">Content
        <th data-index="8">Weight (g)
        </th>
      </tr>
      </thead>
    </table>
  </div>
</div>

</body>
</html>
