<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::body})}" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div class="heading">
        <h1 th:text="${title}"></h1>
    </div>

    <p th:if="${result} != null"
       th:class="'alert alert-' + ${@uiService.getResultTypeColor(result.type)}"
       th:text="${result.message}"/>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" th:action="@{/settings}">
                        <div th:replace="~{form-group :: fieldAny('companyName', 'text', 'Company Name', ${company.companyName})}">
                        </div>
                        <div th:replace="~{form-group :: fieldAny('phoneNumber', 'tel', 'Phone number', ${company.phoneNumber})}">
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>